
#
# Module configuration file for
# minion

displayname: minion
moduletype: customguiapplication
depends: com.eqela.libspriteengine
depends: com.eqela.libgui
depends: com.eqela.libaudioclip
depends: com.eqela.libwidget
depends: com.eqela.libcommonwidget
depends: com.eqela.libmobilewidget
depends: com.eqela.libmodaldialog
depends: com.eqela.libdialogwidget