
#
# Module configuration file for
# game2

displayname: game2
moduletype: widgetapplication
depends: com.eqela.libwidget
depends: com.eqela.libcommonwidget
depends: com.eqela.libmobilewidget
depends: com.eqela.libmodaldialog
depends: com.eqela.libdialogwidget

moduletype: customguiapplication
depends: com.eqela.libspriteengine
depends: com.eqela.libgui
depends: com.eqela.libaudioclip
